.header {
    border-bottom: 1px solid var(--border-header-color);
}

.container__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
}

.logo_dark {
    color: var(--logo-span);
}

.site-nav, .auth-nav{
    display: none;
}

.navigation{
&__button{
    background-color: var(--adress-color);
    border: none;
}
&__button-close{
    position: absolute;
    right: 15px;
    top: 10px;
    border: none;
    background-color: var(--adress-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__button-close:hover
               :focus{
    fill: var(--buttons-links);
}
&__mobile-menu{
    background-color: var(--adress-color);
    position: fixed;
    top: 0;
    padding: 48px;
    left: 0;
    padding-right: 83px;
    padding-left: 40px;
    z-index: 99;
    width: 100vw;
    height: 100vh;

    opacity: 0;
    visibility: hidden;
    pointer-events: none
}
&__link-mob{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__link-mob:hover, 
           :focus{
    color: var(--buttons-links);
}
&__list-links:not(:last-child){
    margin-bottom: 34px;
}
&__list-nav{
    margin-bottom: 302px;
}
&__list-adress_phone{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--buttons-links);
}
&__contacts-mob{
    margin-bottom: 32px;
}
&__contacts-list{
    padding-bottom: 32px;
}
&__list-adress_mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--txt-about)
}
&__link-social{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--buttons-links);
}
&__list-social{
    display: flex;
}
&__social-links:not(:last-child){
    border-right: 1px solid rgba(33, 33,33, 0.2);
    padding-right: 10px;
}
&__social-links:not(:first-child){
    padding-left: 10px;
}
}

@media screen and (min-width: 480px) {
.container__flex{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.navigation__mobile-menu {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (min-width: 768px) {
.container__flex {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 21px 15px;
}
.header {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}
.navigation{
&__button{
    display: none;
}
&__contacts-mob:not(:last-child){
    margin-bottom: 10px;
}
}
.site-nav,
.auth-nav {
    display: block;
}
.site-nav{
    display: flex;
    align-items: center;
    margin-left: 88px;
    gap: 50px;
&__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__link:hover,
       :focus {
    color: var(--buttons-links);
}
// &__link_accent::after {
//     content: '';
//     display: block;
//     width: 100%;
//     height: 4px;
//     background-color: var(--buttons-links);
//     border-radius: 2px;
//     position: absolute;
//     margin-top: 28px;
// }
&__link_accent {
    color: var(--buttons-links);
}
}
.auth-nav{
&__link:hover,
        :focus {
        color: var(--buttons-links);
        fill: var(--buttons-links);
}  
&__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--txt-about);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 8px;
}
&__mail{
    margin-bottom: 10px;
}
&__icon {
    margin-right: 8px;
    fill: currentColor;
}
}
.navigation{
    display: flex;
    align-items: center;
}
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}