.container__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    background-color: red;
}

@media screen and (min-width: 480px) {
.container__flex{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}
}

.logo_dark {
    color: var(--logo-span);
}

.site-nav, .auth-nav{
    display: none;
}

.navigation{
&__button{
    background-color: var(--adress-color);
    border: none;
}
// &__button-close{
//     position: absolute;
//     right: 15px;
//     top: 10px;
//     border: none;
//     background-color: var(--adress-color)
// }
// &__mobile-menu{
//     background-color: var(--adress-color);
//     position: fixed;
//     top: 0;
//     padding: 48px;
//     left: 0;
//     padding-right: 83px;
//     padding-left: 40px;

//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none
// }
&__link-mob{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
&__list-links:not(:last-child){
    margin-bottom: 34px;
}
&__list-nav{
    margin-bottom: 302px;
}
&__list-adress_phone{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--buttons-links);
}
&__contacts-mob{
    margin-bottom: 32px;
}
&__contacts-list{
    padding-bottom: 32px;
}
&__list-adress_mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--txt-about)
}
&__link-social{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--buttons-links);
}
&__list-social{
    display: flex;
}
&__social-links:not(:last-child){
    border-right: 1px solid rgba(33, 33,33, 0.2);
    padding-right: 10px;
}
&__social-links:not(:first-child){
    padding-left: 10px;
}
}