.examples{
    display: none;
}

@media screen and(min-width: 1200px) {
.examples {
    display: block;
}
.examples{
&__position {
    padding-top: 94px;
    padding-bottom: 94px;
}
&__list {
    display: flex;
    justify-content: center;
}
&__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--title-color);
    margin-bottom: 50px;
} 
&__element {
    position: relative;
}
&__element:not(:last-child) {
    margin-right: 30px;
}  
&__description{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--adress-color);
}
}

.container__position_xmpls {
    display: flex;
    flex-direction: column;
    text-align: center;
}
}

