.main{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/about/header_img.jpg);
    height: 400px;
    padding: 118px 60px;
    background-color: var(--bg-main);
    background-repeat: no-repeat;
    background-size: cover;
&__title {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.06em;
    line-height: 1.6;
    color: var(--adress-color);
}
}

.button_main{
    margin: 0 auto;
}
@media screen and (min-width: 480px) {
.main {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (min-width: 768px) {
.main {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 204px;
}
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
.main{
    background-image: url(/images/about/header_img@2x.jpg);
}
}