.our-clients{
    padding-top: 60px;
    padding-bottom: 30px;
&__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}
&__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
&__link {
    width: 210px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clients-border);
    border-radius: 4px;
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 0;
}
&__link:hover,
       :focus {
    fill: var(--buttons-links);
    border-color: var(--buttons-links);
}
&__example{
    width: 210px;
}
}

@media screen and (min-width: 480px) {
.our-clients__container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (min-width: 768px) {
.our-clients__container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}
.our-clients {
    padding-bottom: 60px;
}
}

@media screen and (min-width: 1200px) {
.our-clients__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
&__link {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clients-border);
    border-radius: 4px;
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__example{
    width: 170px;
}
}
}