:root {
    --logo-span: #000000;
    --buttons-links: #2196F3;
    --title-color: #212121;
    --txt-about: #757575;
    --adress-color: #FFFFFF;
    --buttons-bg: #F5F4FA;
    --background-color: #2F303A;
    --link-active: red;
    --border-color: #EEEEEE;
    --border-header-color: #ECECEC;
    --bg-main: #C4C4C4;
    --clients-border: #AFB1B8;
    --color-blue-two: #188CE8;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway'),
        url('../fonts/raleway700/raleway-v28-latin_cyrillic-700.woff2') format('woff2'),
        url('../fonts/raleway700/raleway-v28-latin_cyrillic-700.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
        url('../fonts/roboto400/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/roboto400/roboto-v30-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto'),
        url('../fonts/roboto500/roboto-v30-latin_cyrillic-500.woff2') format('woff2'),
        url('../fonts/roboto500/roboto-v30-latin_cyrillic-500.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'),
        url('../fonts/roboto700/roboto-v30-latin_cyrillic-700.woff2') format('woff2'),
        url('../fonts/roboto700/roboto-v30-latin_cyrillic-700.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto'),
        url('../fonts/roboto900/roboto-v30-latin_cyrillic-900.woff2') format('woff2'),
        url('../fonts/roboto900/roboto-v30-latin_cyrillic-900.woff') format('woff');
}